body {
    display: flex;
    flex-direction: column;
	min-height: 100vh;
	background-color: #f1faee;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.hero{
	display: flex;
	.logo{
		flex-grow: 1;
		img{
			height: 100px;
		}
	}

	h1{
		flex-grow: 2;
		margin: auto;
		font-size: 2em;
	}
}
